* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

header {
  background-color: #0b0c10;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
}
